NEXT_PUBLIC_SITE_URL=https://anagram-game-delta.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0x8D54CEe63F52Eb02B07023adc41e0587bF065BA5
NEXT_PUBLIC_BASE_APP_ID=6a0c0d62e2b4a22f3ba56edc
NEXT_PUBLIC_BUILDER_CODE=bc_xxxxxxxx
# NEXT_PUBLIC_BUILDER_CODE_SUFFIX=0x...
# NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
